<%- include('../partials/header') %>
<form class="form-tag active" id="login-form">
    <div class="form-group">
        <input type="text" placeholder="Enter email" name="email" />
    </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="Enter Password" />
    </div>
    <p><small>By signing up you agree to the terms</small></p>
    <div class="form-group form-tag__btn">
        <button type="submit" class="btn btn-login" id="login">Login</button>
    </div>
</form>

<%- include('../partials/footer') %>