<footer>
    <p></p>
</footer>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $(".dropdown-trigger").dropdown();
        $('.sidenav').sidenav();
        $('.materialboxed').materialbox();
        $('.parallax').parallax();
        $('.tabs').tabs();
        $('.datepicker').datepicker();
        $('.tooltipped').tooltip();
        $('.scrollspy').scrollSpy();
    });
</script>
<!-- <script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"> -->

</script>
<script src="/javascripts/index.js"></script>
<!-- <script src="/javascripts/profile.js"></script> -->
</body>

</html>