<div class="newsfeed__profile mb-m z-depth-1">
	<% if(typeof user.avatar === 'undefined') {%>
	<img src="/public/images/<%= user.gender === 'male' ? 'male' : 'woman' %>.jpg" alt="profile pic of tolu"
		class="broken-image circle responsive-img" />
	<%}else{%>
	<img src="/users/<%= user.id %>/avatar" alt="profile pic of tolu" class="broken-image circle responsive-img" />
	<%}%>
	<div>
		<h5 class="mt-m">
			<a href="/users/me" class="white-text">
				<%= user.name %>
	</a>
	</h5>
	<a href="#" class="white-text">50 rants</a>
</div>
</div>
<div class="my-newsfeed">
	<ul class="my-newsfeed__nav">
		<li>
			<svg class="message">
				<use xlink:href="/public/images/sprite.svg#icon-mail2"></use>
			</svg>
			<div><a href="newsfeed.html">My Newsfeed</a></div>
		</li>
		<li>
			<svg class="message">
				<use xlink:href="/public/images/sprite.svg#icon-mail2"></use>
			</svg>
			<div><a href="newsfeed.html">Comforters</a></div>
		</li>
		<li>
			<svg class="message">
				<use xlink:href="/public/images/sprite.svg#icon-mail2"></use>
			</svg>
			<div><a href="/users/message">Messages</a></div>
		</li>
		<li>
			<svg class="message">
				<use xlink:href="/public/images/sprite.svg#icon-mail2"></use>
			</svg>
			<div><a href="newsfeed.html">Images</a></div>
		</li>
		<li>
			<svg class="message">
				<use xlink:href="/public/images/sprite.svg#icon-mail2"></use>
			</svg>
			<div><a href="newsfeed.html">Videos</a></div>
		</li>
	</ul>
</div>
<div class="chatbox">
	<div class="chatbox__online">Chat Online</div>
	<ul class="chatbox__li">
		<li>
			<a href="newsfeed-messages.html" title="Linda Lohan">
				<img src="/public/images/mary.jpg" alt="user" class="img-responsive profile-photo"
					class="broken-image circle responsive-img" />
				<span class="online-dot"></span>
			</a>
		</li>
		<li>
			<a href="newsfeed-messages.html" title="Sophia Lee">
				<img src="/public/images/mary.jpg" alt="user" class="img-responsive profile-photo"
					class="broken-image circle responsive-img" />
				<span class="online-dot"></span>
			</a>
		</li>
		<!-- <li>
			<a href="newsfeed-messages.html" title="John Doe">
				<img
					src="/public/images/mary.jpg"
					alt="user"
					class="img-responsive profile-photo"
					class="broken-image circle responsive-img"
				/>
				<span class="online-dot"></span>
			</a>
		</li>
		<li>
			<a href="newsfeed-messages.html" title="Alexis Clark">
				<img
					src="/public/images/mary.jpg"
					alt="user"
					class="img-responsive profile-photo"
					class="broken-image circle responsive-img"
				/>
				<span class="online-dot"></span>
			</a>
		</li>
		<li>
			<a href="newsfeed-messages.html" title="James Carter">
				<img
					src="/public/images/mary.jpg"
					alt="user"
					class="img-responsive profile-photo"
					class="broken-image circle responsive-img"
				/>
				<span class="online-dot"></span>
			</a>
		</li>
		<li>
			<a href="newsfeed-messages.html" title="Robert Cook">
				<img
					src="/public/images/mary.jpg"
					alt="user"
					class="img-responsive profile-photo"
					class="broken-image circle responsive-img"
				/>
				<span class="online-dot"></span>
			</a>
		</li>
		<li>
			<a href="newsfeed-messages.html" title="Richard Bell">
				<img
					src="/public/images/mary.jpg"
					alt="user"
					class="img-responsive profile-photo"
					class="broken-image circle responsive-img"
				/>
				<span class="online-dot"></span>
			</a>
		</li>
		<li>
			<a href="newsfeed-messages.html" title="Anna Young">
				<img
					src="/public/images/mary.jpg"
					alt="user"
					class="img-responsive profile-photo"
					class="broken-image circle responsive-img"
				/>
				<span class="online-dot"></span>
			</a>
		</li>
		<li>
			<a href="newsfeed-messages.html" title="Julia Cox">
				<img
					src="/public/images/mary.jpg"
					alt="user"
					class="img-responsive profile-photo"
					class="broken-image circle responsive-img"
				/>
				<span class="online-dot"></span>
			</a>
		</li> -->
	</ul>
</div>