<%- include('partials/header') %>
<header class="hero-image">
    <div class="container">
        <div class="hero-context">
            <h1><span class="hero-r">R</span>ant Here</h1>
        </div>
    </div>
</header>
<section class="features mt-b">
    <i class="line"></i>
    <div class="container features--container">
        <div class="features--content">
            <div class="row">
                <div class="col l4">
                    <div class="big-icon">
                        <!-- <i class="fa fa-frown fa-3x"></i> -->
                        <svg class="icon-home">
                            <use xlink:href="/public/images/sprite.svg#icon-sad"></use>
                        </svg>
                    </div>
                    <h3>Are you angry?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nostrum eius facere, commodi
                        molestias labore magnam aut, ipsam voluptate quasi magni blanditiis!
                    </p>
                </div>
                <div class="col l4">
                    <div class="big-icon">
                        <svg class="icon-home">
                            <use xlink:href="/public/images/sprite.svg#icon-home"></use>
                        </svg>
                    </div>
                    <h3>Don't be</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nostrum eius facere, commodi
                        molestias labore magnam aut, ipsam voluptate quasi magni blanditiis!
                    </p>
                </div>
                <div class="col l4">
                    <div class="big-icon">
                        <svg class="icon-home">
                            <use xlink:href="/public/images/sprite.svg#icon-smile"></use>
                        </svg>
                    </div>
                    <h3>Be Happy</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis nostrum eius facere, commodi
                        molestias labore magnam aut, ipsam voluptate quasi magni blanditiis!
                    </p>
                </div>
            </div>
        </div>


    </div>

</section>
<section class="feature-detail mt-b">
    <div class="container">
        <div class="row">
            <div class="col l5">
                <div>
                    <h2>Easy to use</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Facilis nostrum eius facere, commodi
                        molestias labore magnam aut, ipsam voluptate quasi magni blanditiis!
                    </p>

                </div>
            </div>
            <div class="col offset-l1 l6">
                <div class="img"><img src="/public/images/happy.jpg" alt="" class="responsive-img happy"></div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>