.profile-card {
    border-radius: 5px;
    margin-top: 0;
    border-radius: 3px;
}

.profile__card-content {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.profile__card-content p {
    padding-top: 50px;
}

.profile__img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 55px;
    left: 40px;
    border: 5px solid #eeeeee;
    border-radius: 5px;
}

.profile__card-image {
    height: 120px;
    width: 100%;
    background: url(/public/images/card-img.jpg);
    background-size: cover;
    background-position: 0px -45px;
    background-repeat: no-repeat;
    /* //border-radius: 5px; */
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.change-avatar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.profile__card-action {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.profile-view {
    /* // border: 2px solid #f1f2f2; */
    background: #fff;
    border-radius: 5px;
}

.profile-edit {
    padding: 20px;
}

.profile-edit textarea {
    height: 150px;
    width: 100%;
}

.profile-edit-btns {
    display: flex;
    justify-content: space-between;
}

.profile-edit-btns input[type="submit"] {
    display: none;
    outline: none;
    border: none;
    color: #fff;
}