.home__header {
    background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../images/bg-1.jpg") fixed no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    z-index: 2;
}

.content-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.content-wrapper h1,
.content-wrapper h2 {
    font-weight: 200;
    margin: 0;
}

.content-wrapper h1 span {
    font-weight: 400;
}