.createPost {
    width: 100%;
    min-height: 90px;
    border-bottom: 1px solid #f1f2f2;
}

.createPost__form {
    padding: 0;
    border: none;
}

.createPost__textarea {
    border: 3px solid #ccc;
    padding: 10px;
    height: 60px;
    font-family: Tahoma sans-serif;
    transition: all .2s ease;
}

.createPost__textarea:focus {
    height: 300px;
}

.createPost__text-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.createPost__text-image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 8px solid #fff;
}

.createPost__tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}

.btn-publish {
    margin-top: 20px;
}