.flex-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image-s {
    height: 40px !important;
    width: 40px;
    border-radius: 50%;
    border: none;
}

.is_stuck {
    position: fixed;
    top: 90px;
    width: 248.5px;
}